:root{
    --primary-color: #808080;
    --secondary-color: #F4F4F4;
    --terciary-color: #EC2D2D;
    --primary-font: 'Montserrat', sans-serif;
}

.container{
    display: flex;
}

.main-container{
    grid-area: main;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 48px 0px;
}

.header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 82px;
}

.title-container{
    display: flex;
    gap: 16px;
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    font-family: var(--primary-font);
    color: var(--primary-color);
    align-items: center;
}

.line{
    width: 100%;
    height: 2px;
    background-color: #808080;
}

.container_time_record {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

table {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    width: 100%;
    padding: 0 82px;
}

th, td {
    border-bottom: 1px solid #808080;
    text-align: start;
    height: 64px;
}

.predicted_time_title {
    display: flex;
    font-family: var(--primary-font);
    font-weight: 700;
    gap: 10px;
    justify-content: center;
    font-size: 2.25rem;
    width: 100%;
}

.container-buttons {
    display: flex;
    gap: 64px;
    justify-content: end;
    padding: 0 82px;
    width: 100%;
}

.button-save{
    width: 240px;
    height: 64px;
    background-color: var(--terciary-color);
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    font-style: italic;
    font-family: var(--primary-font);
    cursor: pointer;
}